.heading{
    
    height: 1.2rem;
    width: 100%;
    color: black;
    position: absolute;
    left: 30%;
}
.score{
    height: 10rem;
    color: black;
    position: absolute;
    left: 30%;
    top:10%;
}
.start-game, .game-over{
    height: 20rem;
    position: absolute;
    left: 30%;
    top: 75%;
}


body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.container{
    
    height: 23rem;
    width: 23rem;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    position: absolute;
    top: 20%;
    left: 30%;
}

.snake{

    background-color: blue;
    border-radius: 50%;
}
.food{
    background-color: red;
    border-radius: 30%;
}
.background {
    background-image: url('./bgimage.jpg'); 
    background-size: cover;
    background-position: center;
}
